@import "../styles/global.css";

/* 对ant样式的引入 */
@import '~antd/dist/antd.css'; 
@import "../styles/about.css";

/* 公有变量 */
:root {
  --titleText: #3c4858;
  --indexTagColor: #718096;
  --textHoverColor: #35cdfe;
  --background: #fffc;
  --cardShadow:0 3px 8px 6px rgba(7,17,27,0.05);
}

* {
  margin: 0;
  padding: 0;
}

/* 屏幕像素最低为768 px  */
@media screen and (min-width: 768px) {
  /* 
@author : leewei
@time : 10.17
@content : index的样式
*/
  /* index外部元素 */
  .indexContainer {
    width: 80%;
    margin: auto;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
    padding: 25px;
    border-radius: 20px;
  }
  .indexContainer .indexArticle {
    margin: 20px 0;
  }

  .indexContainer .indexArticle .indexArticleTitle a {
    text-decoration-line: none;
    color: var(--titleText);
    font-size: 22px;
  }

  .indexContainer .indexArticle .indexArticleTitle:hover a {
    color: var(--textHoverColor);
  }
  /* index 摘要 */
  .indexContainer .indexArticle .indexArticleSummary {
    margin: 10px 0;
    text-indent: 20px;
  }
  .indexContainer .indexArticle .indexArticleSummary a {
    text-decoration-line: none;
    color: var(--titleText);
    font-size: 17px;
  }
  .indexContainer .indexArticle .indexArticleSummary:hover a {
    color: var(--textHoverColor);
  }

  /* index标签 */

  .indexContainer .indexArticle .indexArticleTags {
    display: flex;
    flex-direction: row;
  }
  .indexContainer .indexArticle .indexArticleTags .indexArticleTag > span {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
  }
  .indexContainer .indexArticle .indexArticleTags .indexArticleTag > p {
    font-size: 18px;
    margin: 0 5px;
  }
  .indexContainer .indexArticle .indexArticleTags .indexArticleTag {
    display: flex;
    flex-direction: row;
    color: var(--indexTagColor);
    margin: 10px 20px 0 0;
  }

  /* ==================================== */

  /* 
@author : leewei
@time : 10.17
@content : tags的样式
*/

/* 顶部tag标签 */
.tagsTopTags {
  position: relative;
  left: 50px;
}


.tagsTopTags .tagsTopTagsTitle {
  margin: 16px;
}

.tagsTopTags .tagbox {
  width: 80%;
  overflow: hidden;
}


/* 标签页的文章列表 */
  .tagsArticles {
    /* border: 1px solid black; */
    position: relative;
    left: 50px;
    width: 80%;
    padding: 20px;

  }
  .tagsArticles .tagsArticle {
    margin: 10px 0;
    padding: 10px;
  }

  .tagsArticles .tagsArticle:hover {
    background-color: #e2e2e2;
  }

  /* 内部文字 */

  .tagsArticles .tagsArticle a {
    color: var(--indexTagColor);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
  }
  .tagsArticles .tagsArticle:hover a >span {
    color: var(--textHoverColor);
  }


}
